body {
    font-family: 'Montserrat', sans-serif;
}

.logo-div {
  background: #0c9348;
  padding: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(47, 47, 47, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo-div img {
  width: 200px;
  display: inline-block;
}

section.login-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-login-div {
    padding: 35px 25px 25px 25px;
    box-shadow: 0 10px 20px rgba(47, 47, 47, 0.1);
    border-radius: 10px;
    margin-top: 100px;
}

.inner-login-div .user-round {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #bdbdbd;
  color: #ffffff;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  font-size: 20px;
}

    .inner-login-div .user-round img
    {
        width:20px;
    }

    .inner-login-div h4 {
        font-size: 18px;
        color: #272727;
        text-align: center;
        padding: 10px 0;
        font-weight: 400;
    }

    .inner-login-div label {
        color: #6d6d6d;
        font-size: 14px;
    }

.inner-login-div .form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  padding-left: 0;
  padding-right: 30px;
}

    .inner-login-div .form-control::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #585858;
        opacity: 1; /* Firefox */
    }

    .inner-login-div .form-control:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #585858;
    }

    .inner-login-div .form-control::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #585858;
    }

.inner-login-div .form-control:focus {
  color: #000000;
  background-color: #fff;
  border-color: #0c9348;
  outline: 0;
  box-shadow: none;
}

    .inner-login-div .custom-btn {
        width: 100%;
        background: #0c9348;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2);
        padding-left: 20px;
        padding-right: 20px;
    }

    .inner-login-div .forget-password {
        display: block;
        color: #0c9348;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        padding: 6px 10px;
        border: 1px solid #c4c4c4;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1.5;
    }

.inner-login-div .for-icon {
  position: relative;
}

    .inner-login-div .for-icon.green-border:after {
        height: 1px;
        content: "";
        width: 65px;
        background: #0c9348;
        position: absolute;
        bottom: 1px;
        left: 53px;
    }

.inner-login-div .for-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.confirm-password .inner-login-div {
    margin-top: 0;
    box-shadow: none;
}

    .confirm-password .inner-login-div .custom-btn {

        display: table;
        margin: 0 auto;
        width: auto;
    }

.confirm-password h1 {
  font-size: 40px;
  text-align: center;
  color: #545454;
  font-weight: 400;
  margin-top: 100px;
}

/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
}

.container-checkbox a {
  color: #0c9348;
  text-decoration: underline;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #6d6d6d;
  border-radius: 4px;
}

.container-checkbox:hover input ~ .checkmark {
  background-color: #fff;
}

.container-checkbox input:checked ~ .checkmark {
    background-color: #0c9348;
    border-color: #0c9348;
    top: -3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.confirm-password h4 {
    padding-bottom: 30px;
    font-size: 17px;
    width: calc(100% + 50px);
    margin-left: -25px;
    padding-top: 0;
}

.free-days {
    color: #272727;
    padding: 20px 0;
    display: block;
    font-size: 14px;
    line-height: 24px;
}

.signup-div h6 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #0c9348;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
  width: calc(100% + 40px);
  margin-left: -20px;
}

.email-sent {
    align-items: flex-start !important;
    padding-top: 110px;
}

.email-sent h1
{
    margin-top:0;
}

.cursor-pointer{
    cursor:pointer;
}

.d-none{
    display:none;
}

.login-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 17px;
    background: #ffffff;
    border-color: #ffffff;
    color: #0c9348;
    font-weight: 500;
    text-transform: uppercase;
}

    .login-button:hover {
        background: #f3b044;
        border-color: #f3b044;
    }

.signup-div .inner-login-div h4 {
    font-weight: 700;
}

.signup-div .inner-login-div .custom-btn {
    width: auto;

    margin: 0 auto;
    display: table;
}